<div class="wrapper pt-5">


    <p-card>
        <h4>הוסף משתמש</h4>
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">

            <div class="p-float-label mt-3">
                <label for="username">Username*</label>

                <input type="text" pInputText id="username" formControlName="username" class="w-100">
            </div>

            <div class="p-float-label mt-3">
                <label for="password">Password*</label>
                <input type="password" pInputText id="password" formControlName="password" class="w-100">
            </div>

            <div class="p-float-label mt-3">
                <input type="text" pInputText id="firstName" formControlName="firstName" class="w-100">
                <label for="firstName">First Name*</label>
            </div>

            <div class="p-float-label mt-3">
                <input type="text" pInputText id="lastName" formControlName="lastName" class="w-100">
                <label for="lastName">Last Name</label>
            </div>

            <button pButton type="submit" label="Submit">Submit</button>

        </form>

    </p-card>
</div>